{% extends 'index.html'%}
{% load crispy_forms_tags %}

{% block content %}

    {% if formulario.errors %}
    
        <div class="alert alert-danger" role="alert">
        Por favor de llenar todos los campos
        </div>
    {% endif %}
        <h1> Actualizacion de empleados </h1>
        <form action="{% url 'actualizarEmpleados' empleado.idempleado %}" method="post">

            {% csrf_token %} <!-- token de seguridad para identificarse en el lado del sevidor -->
            {% if mensaje %}
            <div class="alert alert-success" role="alert">
               Empleado actualizado¡¡¡
              </div>
            {% endif %}

            {{ formulario|crispy  }}

            <button type="submit" class="btn btn-primary">Guardar</button>
            <a class="btn btn-danger" href="{% url 'listarEmpleados' %}">Cancelar</a>


        </form>

{% endblock %}