{% extends 'index.html' %}



{% block content %}
    <h1>Esta es un formulario</h1>
</br>
<form>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Direccion de correo</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Rodrigo.Olad@semarnat.gob.mx">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Aviso</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
{% endblock %}