{% extends 'index.html'%}
{% load crispy_forms_tags %}
{% block nav %}
<p ALIGN="center" class="h3" >¡¡¡ Bienvenidos, favor de ingresar sus datos  !!!</p>
{% endblock nav%}
{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}


<form class="" method="post">
    {% csrf_token %}
    {{  form|crispy }}

    <button type="submit" id="submit" class="btn btn-info"> Ingresar </button>

</form>

{% endblock %}